RewriteEngine On

# Map http://www.example.com to /jekyll.
RewriteRule ^$ /web/ [L]

# Map http://www.example.com/x to /jekyll/x unless there is a x in the web root.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/web/
RewriteRule ^(.*)$ /web/$1

# Add trailing slash to directories within jekyll
# This does not expose the internal URL.
RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule ^web/(.*[^/])$ http://bcmusic.yweb.sk/$1/ [R=301]
